@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,300,200);
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
/*************************
*******Typography*********
**************************/
html,body { height:100%; }

.containerVid {
width: 100%;
height: 100%;
position: absolute;
padding:0;
margin:0;
z-index: -1000;
overflow:hidden;
background-color: black;
}

.videoPlayer {
max-width:120%;
max-height:120%;
position: fixed;
 top: 50%;
 left: 53%;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);*/
}


body {
  font-family: 'Flamenco', cursive;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

/*body,*/
.preloader {
  position: relative;
  width: 100%;
  height: 100%;
  /*min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: 100% auto;*/


  background-size: cover;
/*  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg.png'); */
  background-color: #1a1430;
  overflow: hidden;
  text-align: center;
  color: white;

  /*background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
   /*background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
   /*background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
   /*background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
   /*background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */
}

body {
  min-height: 100% ;
min-width: 100% ;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  /*background-color: #1a1430;*/
  text-align: center;
  color: white;

    background: #190a30; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#190a30, #2e1a44, #190a30); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#190a30, #2e1a44, #190a30); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#190a30, #2e1a44,#190a30); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#190a30, #2e1a44, #190a30); /* Standard syntax */

    /*1a1430*/

}

h1,h2,h3,h4,h5,h6 {
  color: #fff !important;
}

ul {
  list-style: none;
  padding: 0
}


a {
  color:#fff;
  text-decoration: none;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: rgba(255,255,255,.5);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

/*************************
*******Navigation CSS*****
**************************/

#header {
  /* debug */
  padding-top:30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/header.png');


  -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

#header .container {
  height: 100px;
  display: table;
}



#header .container-inner {
  display: table-cell;
  vertical-align: middle;
}

#header .logo h1 {
  margin: 0;
  margin-bottom:20px;
}

#header .nav-button{
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  font-size:1.5em;
  font-weight: bold;
}

#navigation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.8);
  z-index: 99999;
  text-align: center;
  display: none;
  position: fixed;
}


.main-nav {
  margin-top:100px;
  background-color: #1c1626;
  width: 400px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 540px) {
    .main-nav  {
        width: 80%;
        margin-top:10%;
    }
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  display: block;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  color:#fff;
}

.main-nav ul li:first-child a {
  border-top: 0;
}

.main-nav ul li:hover a{
  /*background-color:#463660;*/
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/navigation.jpg');
}

.main-nav ul li.active a {
  /*background-color:#463660;*/
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/navigation_active.jpg');
}

#hidemenu {
  display: inline-block;
  position: absolute;
  top: -30px;
  right: -30px;
  color: #666;
}

#hidemenu:hover {
  color: #000;
}

.menuRight{

}

@media screen and (max-width: 540px) {
    #header .nav-button {
      font-size: 1em !important;
    }
}

/*************************
*******Home Page CSS******
**************************/

#home-page .caption {
  font-weight: 600;
  font-size: 18px;
}

#home-page h2.heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}

#page-slider > .carousel-inner,
#page-slider .item > .container {
  height: 100%;
}

#page-slider .item > .container {
  /*height: 660px;*/
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 150px;  /* debug */
  padding-bottom: 100px;
}



.vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}

.vertical-middle > div {
  display: table-cell;
  vertical-align: top; /*used to say middle //debug// */
}


@use postcss-nested;
:root {
  --grad-xStart: 280;
  --grad-xEnd:   40;
/*  --grad-start:  hsl(var(--grad-xStart), 100%, 75%);
  --grad-end:    hsl(var(--grad-xEnd), 100%, 50%); */
  /* On my screen goes from 0 to 800 */
  --grad-start:  hsla(var(--grad-xStart), 100%, 75%,0.1);
  --grad-end:    hsla(var(--grad-xEnd), 100%, 75%,0.1);
  --grad-start2:  rgba(var(xColor[0]), var(xColor[1]), var(xColor[2]), 0.1);
  --grad-end2:     rgba(var(xColor[0]), var(xColor[1]), var(xColor[2]), 0.1);
}

#welcome-page {
/* debug */
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-image: url('../images/bodysm6.png');
  background-color: #190a30;
  height: 100%;

/*
  background:
    /* linear-gradient(135deg, rgba(252, var(--test1), 16, 0.1), rgba(252, var(--test1), 16, 0.1)),*//* On top,    like z-index: 4; */
     url('../images/bodysm2.png') no-repeat !important;  * /            like z-index: 3; */

  /*overflow: hidden !important;*/
}


#contact-form{
max-width: 80%;
}


#page-slider .item {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page-left {
  left:20px;
}

.welcome-page-right {
  right:20px;
}

.welcome-page-left,
.welcome-page-right {
  position: absolute;
  top: 50%;
  margin-top:-35px;
  font-size: 57px;
  z-index: 10;
}

.page-header {
  font-size: 64px;
  line-height: 64px;
  border: 0;
  padding: 0;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 82px;
}

.page-header2 {
  font-size: 64px;
  line-height: 64px;
  border: 0;
  padding: 0;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 20px;
}

.entry-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.overlay-container {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

a.readmore {
  font-size: 36px;
  line-height: 36px;
}

.box {
  background: rgba(0,0,0,.2);
  padding: 20px;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
  height: auto;
  width: auto;
  float: left;
}

.box:hover {
  background: rgba(0,0,0,.5);
}

#footer {
  margin: 30px 0;
  background-image: url('../images/footer.png'); */
}


/*************************
*****Contact Page CSS*****
**************************/

.btn {
  border: 0;
  border-radius: 0;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

.btn.btn-transparent {
  background: rgba(0,0,0,.5);
  color: #fff;
}

.btn.btn-transparent:hover {
  background: rgba(255,255,255,.3);
  color: #fff;
}

input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="url"].form-control,
textarea.form-control {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #190A30;
  border: 2px solid rgba(229,144,170,.5);
}

textarea {
    resize: none;
}

.form-control::-webkit-input-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control:-moz-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control::-moz-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control:-ms-input-placeholder {
 color: rgba(255,255,255,.8);
}


.page-header{
  animation-delay: 0.4s;
}

.page-header2{
  animation-delay: 0.4s;
}

.margin100{
  margin-bottom:100px;
}

.text{
  animation-delay: 1.5s;
}

.form-horizontal{
  align-content: center;
  align-items: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*test*/
/*
.bb, .bb::before, .bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.bb {
  width: auto;
  height: auto;
  margin: auto;
  /*background: url("../images/blog/1.jpg") no-repeat 100%/100% rgba(0, 0, 0, 0.1);*/
/*  color: #8c42f4;
  /*box-shadow: inset 0 0 0 1px rgba(105, 202, 98, 0.5);*/
/*  box-sizing: border-box;
  z-index: 100;
}
.bb::before, .bb::after {
  content: '';
  /*z-index: -1;*/
/*  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: clipMe 8s linear infinite;
  box-sizing: border-box;
  z-index: 90;
}
.bb::before {
  z-index: 100;
  animation-delay: -4s;
}
.bb:hover::after, .bb:hover::before {
  /*background-color: rgba(255, 0, 0, 0.3);*/
/*  box-sizing: border-box;
  z-index: 100;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
.bodys {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 100;
}
.htmls {
  z-index: 100;
  height: 100%;
  box-sizing: border-box;
}
.bodys::before, .bodys::after {
  z-index: 100;
box-sizing: border-box;
}
.htmls::before, .bodys::after {
  z-index: 100;
box-sizing: border-box;
}

*/

/* rotating text*/

/*
.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px !important;
  margin-bottom: -50px !important;
}

.textP {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  /*color: #8e44ad;*/
/*  color: #9c63ff;
}

.belize {
  /*color: #2980b9;*/
/*  color: #d262ff;
}

.pomegranate {
  /*color: #c0392b;*/
/*  color: #ff61cf;
}

.green {
  /*color: #16a085;*/
/*  color: #ff6161;
}

.midnight {
  /*color: #2c3e50;*/
/*  color: #ffaa61;
}
*/


/*accordion */
/*
.accordion {
  width: 100%;
  max-width: 1080px;
  height: 250px;
  overflow: hidden;
  margin: 0px auto; /*50px auto*/
/*}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat,sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul li:nth-child(1) {
  background-image: url("http://michael-ferry.com/assets/accordion1.jpg");
}
.accordion ul li:nth-child(2) {
  background-image: url("http://michael-ferry.com/assets/accordion2.jpg");
}
.accordion ul li:nth-child(3) {
  background-image: url("http://michael-ferry.com/assets/accordion3.jpg");
}
.accordion ul li:nth-child(4) {
  background-image: url("http://michael-ferry.com/assets/accordion4.jpg");
}
.accordion ul li:nth-child(5) {
  background-image: url("http://michael-ferry.com/assets/accordion5.jpg");
}
.accordion ul li:nth-child(6) {
  background-image: url("http://michael-ferry.com/assets/accordion6.jpg");
}
.accordion ul:hover li {
  width: 8%;
}
.accordion ul:hover li:hover {
  width: 60%;
}
.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }
  .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}
*/

/*3d hover*/

.body3D {
  /*background: #edf2f4;*/
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*height: 100vh;*/
  font-family: "Playfair Display",georgia,serif;
  color: purple
}

.card {
  pointer-events: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
 /* background: white;*/
  background-image: url('../images/mobile-frame.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 158px;
  height: 315px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  position: relative;
}
.card:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 50%;
  left: 0;
  bottom: -10px;
  box-shadow: 0 30px 20px rgba(170, 170, 170, 0.4);
}
.card .card-content {
  margin: auto;
  text-align: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.card h1 {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.card-content h1 {
}

.card p {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  display: block;
}
.card p.related {
  -webkit-transform: translateZ(80px);
          transform: translateZ(80px);
  font-style: italic;
}
.card a {
  color: #bcf4ec;
  pointer-events: auto;
}
