@import url(http://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800,300,200);
@import url('https://fonts.googleapis.com/css?family=Exo');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Flamenco');
/*************************
*******Typography*********
**************************/
html,body { height:100%; }

.containerVid {
width: 100%;
height: 100%;
position: absolute;
padding:0;
margin:0;
z-index: -1000;
overflow:hidden;
background-color: black;
}

.videoPlayer {
max-width:120%;
max-height:120%;
position: fixed;
 top: 50%;
 left: 53%;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);*/
}


body {
  font-family: 'Flamenco', cursive;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}

/*body,*/
.preloader {
  position: relative;
  width: 100%;
  height: 100%;
  /*min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: 100% auto;*/


  background-size: cover;
/*  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg.png'); */
  background-color: #1a1430;
  overflow: hidden;
  text-align: center;
  color: white;

  /*background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
   /*background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
   /*background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
   /*background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
   /*background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */
}

body {
  min-height: 100% ;
min-width: 100% ;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  /*background-color: #1a1430;*/
  text-align: center;
  color: white;

    background: #190a30; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#190a30, #2e1a44, #190a30); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#190a30, #2e1a44, #190a30); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#190a30, #2e1a44,#190a30); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#190a30, #2e1a44, #190a30); /* Standard syntax */

    /*1a1430*/

}

h1,h2,h3,h4,h5,h6 {
  color: #fff !important;
}

ul {
  list-style: none;
  padding: 0
}


a {
  color:#fff;
  text-decoration: none;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: rgba(255,255,255,.5);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

/*************************
*******Navigation CSS*****
**************************/

#header {
  /* debug */
  padding-top:30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url('../images/header.png');


  -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}

#header .container {
  height: 100px;
  display: table;
}



#header .container-inner {
  display: table-cell;
  vertical-align: middle;
}

#header .logo h1 {
  margin: 0;
  margin-bottom:20px;
}

#header .nav-button{
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  font-size:1.5em;
  font-weight: bold;
}

#navigation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.8);
  z-index: 99999;
  text-align: center;
  display: none;
}

.main-nav {
  margin-top:100px;
  background-color: #1c1626;
  width: 400px;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 540px) {
    .main-nav  {
        width: 80%;
        margin-top:10%;
    }
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  display: block;
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 36px;
  color:#fff;
}

.main-nav ul li:first-child a {
  border-top: 0;
}

.main-nav ul li:hover a,
.main-nav ul li.active a {
  background-color:#463660;
  color: #fff;
}

#hidemenu {
  display: inline-block;
  position: absolute;
  top: -30px;
  right: -30px;
  color: #666;
}

#hidemenu:hover {
  color: #000;
}

.menuRight{

}

@media screen and (max-width: 540px) {
    #header .nav-button {
      font-size: 1em !important;
    }
}

/*************************
*******Home Page CSS******
**************************/

#home-page .caption {
  font-weight: 600;
  font-size: 18px;
}

#home-page h2.heading {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}

#page-slider > .carousel-inner,
#page-slider .item > .container {
  height: 100%;
}

#page-slider .item > .container {
  /*height: 660px;*/
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 150px;  /* debug */
  padding-bottom: 100px;
}



.vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}

.vertical-middle > div {
  display: table-cell;
  vertical-align: top; /*used to say middle //debug// */
}


@use postcss-nested;
:root {
  --grad-xStart: 280;
  --grad-xEnd:   40;
/*  --grad-start:  hsl(var(--grad-xStart), 100%, 75%);
  --grad-end:    hsl(var(--grad-xEnd), 100%, 50%); */
  /* On my screen goes from 0 to 800 */
  --grad-start:  hsla(var(--grad-xStart), 100%, 75%,0.1);
  --grad-end:    hsla(var(--grad-xEnd), 100%, 75%,0.1);
  --grad-start2:  rgba(var(xColor[0]), var(xColor[1]), var(xColor[2]), 0.1);
  --grad-end2:     rgba(var(xColor[0]), var(xColor[1]), var(xColor[2]), 0.1);
}

#welcome-page {
/* debug */
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-image: url('../images/bodysm6.png');
  background-color: #190a30;
  height: 100%;

/*
  background:
    /* linear-gradient(135deg, rgba(252, var(--test1), 16, 0.1), rgba(252, var(--test1), 16, 0.1)),*//* On top,    like z-index: 4; */
     url('../images/bodysm2.png') no-repeat !important;  * /            like z-index: 3; */

  /*overflow: hidden !important;*/
}


#page-slider .item {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-page-left {
  left:20px;
}

.welcome-page-right {
  right:20px;
}

.welcome-page-left,
.welcome-page-right {
  position: absolute;
  top: 50%;
  margin-top:-35px;
  font-size: 57px;
  z-index: 10;
}

.page-header {
  font-size: 64px;
  line-height: 64px;
  border: 0;
  padding: 0;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 100px;
}

.entry-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.overlay-container {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

a.readmore {
  font-size: 36px;
  line-height: 36px;
}

.box {
  background: rgba(0,0,0,.2);
  padding: 20px;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}

.box:hover {
  background: rgba(0,0,0,.5);
}

#footer {
  margin: 30px 0;
  background-image: url('../images/footer.png'); */
}


/*************************
*****Contact Page CSS*****
**************************/

.btn {
  border: 0;
  border-radius: 0;
  -webkit-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

.btn.btn-transparent {
  background: rgba(0,0,0,.5);
  color: #fff;
}

.btn.btn-transparent:hover {
  background: rgba(255,255,255,.3);
  color: #fff;
}

input[type="text"].form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="url"].form-control,
textarea.form-control {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid rgba(255,255,255,.5);
}

.form-control::-webkit-input-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control:-moz-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control::-moz-placeholder {
 color: rgba(255,255,255,.8);
}

.form-control:-ms-input-placeholder {
 color: rgba(255,255,255,.8);
}


.page-header{
  animation-delay: 0.4s;
}
